<%= render "shared/header" %>
<div class="action-main-service">

  <div class="ldb-action-contents">
    <h1 class="action-title">あなたが日頃つかっている費用です</h1>
    <%= link_to '情報を編集する', edit_action_path, class: "subtitle" %>
    <div class='action-explain-box'>
      <%= @action.action_day%>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-title">飲食に使うお金</th>
          <td class="detail-value"><%= @action.food_expenses %></td>
        </tr>
        <tr>
          <th class="detail-title">買い物に使うお金</th>
          <td class="detail-value"><%= @action.shopping %></td>
        </tr>
        <tr>
          <th class="detail-title">生活していく事に必要なお金</th>
          <td class="detail-value"><%= @action.living_expenses %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>